[Desktop Entry]
Name=rd
GenericName=Recent Directory daemon
Comment=Monitor recently used directories
Terminal=false
Type=Application
StartupNotify=false
